h1+p{
    text-align: center;
}
.box1{
    background-color: red;
}
.box2{
    background-color: yellow;
}
.box3{
    background-color: rgb(49, 76, 184);
}
.box4{
    background-color: rgb(28, 208, 97);
}
.box5{
    background-color: rgb(219, 47, 90);
}
.box{
    width: 100vw;
    height: 100vh;

}

@media screen and (max-width: 425px){
    .box{
        display: none;
    }
    .box1{
        display: block;
    }
}
@media screen and (min-width: 425px) and (max-width: 768px){
    .box{
        display: none;
    }
    .box2{
        display: block;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .box{
        display: none;
    }
    .box3{
        display: block;
    }
    
}
@media screen and (min-width: 1024px) and (max-width: 1440px){
    .box{
        display: none;
    }
    .box4{
        display: block;
    }
    
}
@media screen and (min-width: 1440px){
    .box{
        display: none;
    }
    .box5{
        display: block;
    }
    
}

